<div class="mycomments">
Comments currently disabled.
<section id="isso-thread">
  <noscript>Javascript needs to be activated to view comments.</noscript>
</section>
</div>

<div class="myfooter">
  <div class="myfooterelt"><a href="https://www.opendnssec.org/"><img alt="OpenDNSSEC" src="assets/opendnssec_logo_120.png"><br/>www.opendnssec.org</a></div>
  <div class="myfooterelt"><a href="https://www.opendnssec.org/support/community/"><img alt="Bug Reporting" src="assets/DdOo_Bug.png"><br/>Report a bug</a></div>
  <div class="myfooterelt"><a href="https://lists.opendnssec.org/mailman/listinfo/opendnssec-user/"><img alt="Mailing List" src="assets/Mailing_list3.jpg"><br/>Mailing list</a></div>
</div>
